# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env
*.env

# Uploads and logs
uploads/
*.log
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
